

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bare | Admin - Realtors</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="../bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css">
  <!-- Morris chart -->
  <link rel="stylesheet" href="../bower_components/morris.js/morris.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="../bower_components/jvectormap/jquery-jvectormap.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="../bower_components/bootstrap-daterangepicker/daterangepicker.css">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
      .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
      }
      .modal-dialog {
          width: 90%;
      }
  
      .example-modal .modal {
        background: transparent !important;
      }
      .modal-body {
          padding: 0;
      }
      .nav-tabs-custom>.nav-tabs>li.active>a, .nav-tabs-custom>.nav-tabs>li.active:hover>a,
      .nav-tabs-custom>.tab-content {
          background: #eee !important;
      }</style>
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>


<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <button type="button" class="btn btn-default hid2" data-toggle="modal" data-target="#modal-default" style="display:none;">
        modal
      </button>
    <%- include ../partials/header.ejs %>
    <%- include ../partials/sidebar.ejs %>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Create a new Realtor
      </h1>
      <ol class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
                <div class="col-md-12">
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Add a Realtor</h3>
        <style>
        .box-body label {
          text-align:right;
        }
        </style>
                     
                    <!-- /.box-header -->
                    <div class="box-body">
                      <div class="row">
                          <div class="form-group col-sm-6">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" id="name" placeholder="Enter name">
                            </div>
                            <div class="form-group col-sm-6">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                                  </div>
                            
                        </div>
                        <div class="row">
                                
                          <div class="form-group col-sm-6">
                            <label for="phone">Phone Number</label>
                            <input type="phone" class="form-control" id="phone" placeholder="Enter phone">
                          </div>
                                  <div class="col-sm-6">
                                        <label for="pw">Password</label>
                                        <select class="form-control" id="pw">
                                          <option value="$2a$08$f5oKMgOP3SKG3kJLgFb2IumPBFcfcrit1n7AntZIU2jMxhCIcmt02">password1</option>
                                          <option value="$2a$08$0ZifWgmogaHORgWseqOczed7pug1Ggabn/9WVdskAoZgeEH6eEPXi">ch4ng3m3</option>
                                        </select>
                                      </div>
                              </div>
                              <div class="row">
                                          <div class="col-sm-6">
                                                <label for="brokerage">Brokerage</label>
                                                <select class="form-control" id="brokerage">
                                                  
                                                </select>
                                              </div>
                                              <p class="col-sm-6" style="text-align:right;"><br/>
                                                  <button class="btn btn-primary btn-lg addRealtor" style="text-align: center;">Add Realtor</button>
                                               </p>
                                      </div>
                                      <br/>
                        
                            
                        
                        
                           </div>
                           </div>
                           </div>
               <div class="box">
              <div class="box-header">
                <h2 class="box-title">All Realtors</h2>
                
              </div>
              <!-- /.box-header -->
              <div class="box-body">
               <div class="row">
                   <div class="col-md-12">
                   <table id="example1" class="table table-bordered table-striped dataTable no-footer" role="grid" aria-describedby="example1_info">
                  <thead>
                  <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="District Name: activate to sort column descending" style="width: 197px;" aria-sort="ascending">Name</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Contact Name: activate to sort column ascending" style="width: 241px;">Email</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Number of classes: activate to sort column ascending" style="width: 215px;">Phone</th></tr>
                  </thead>
                  <tbody>
                                                
                </tbody>
                </table></div>
                </div>
              <!-- /.box-body -->
            </div>
  
      </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
    <%- include ../partials/footer.ejs %>

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Update Realtor</h4>
            </div>
            <div class="modal-body">
              <div class="row" style="padding: 0 20px;">
                <div class="form-group col-sm-6">
                    <label for="updateName">Name</label>
                    <input type="text" class="form-control" id="updateName" placeholder="Enter name">
                  </div>
                  <div class="form-group col-sm-6">
                          <label for="updateEmail">Email address</label>
                          <input type="email" class="form-control" id="updateEmail" placeholder="Enter email">
                        </div>
                  
              </div>
              <div class="row" style="padding: 0 20px;">
                      
                <div class="form-group col-sm-6">
                  <label for="updatePhone">Phone Number</label>
                  <input type="phone" class="form-control" id="updatePhone" placeholder="Enter phone">
                </div>
      
                <div class="col-sm-6">
                    <label for="updatePw">Password</label>
                    <select class="form-control" id="updatePw">
                      <option value="$2a$08$f5oKMgOP3SKG3kJLgFb2IumPBFcfcrit1n7AntZIU2jMxhCIcmt02">password1</option>
                      <option value="$2a$08$0ZifWgmogaHORgWseqOczed7pug1Ggabn/9WVdskAoZgeEH6eEPXi">ch4ng3m3</option>
                    </select>
                  </div>
                  
                  
                </div>
                <div class="row" style="padding: 0 20px;">
                    <div class="col-sm-6">
                        <label for="updatedBrokerage">Brokerage</label>
                        <select class="form-control" id="updatedBrokerage">
                        </select>
                      </div>
                    <div class="form-group col-sm-6" ><br/>
                        <button type="button" class="btn btn-warning deleteRealtor">Delete Realtor</button>
                      </div>
                      </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary updateRealtor">Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
 
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
<script src="/js/adminlte.js"></script>
<script src="/js/demo.js"></script>

<link rel="stylesheet" href="https://adminlte.io/themes/AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<script src="https://adminlte.io/themes/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>

<script src="https://adminlte.io/themes/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>

  $('#sidebar-toggle').click(function() {
    var text = $(this).text();
    console.log(text)
    if ($(this).text() === 'arrow_back') {
      $(this).text('arrow_forward')
    } else  if ($(this).text() === 'arrow_forward') {
      $(this).text('arrow_back')
    }
  })
  $.getJSON('/allBrokerages', function(brokerageData) {
      console.log(brokerageData);
      brokerageData.forEach(function(brokerage) {
        $('select#brokerage').append(`
          <option value="${brokerage._id}">${brokerage.name}</option>
        `);
      });
  })
  function getRealtors() {
    $('#example1 tbody').html('');
    $.getJSON('/allRealtors', function(realtorData) {
        console.log(realtorData);
        realtorData.forEach(function(realtor) {
          $('#example1 tbody').append(`
                  <tr id='${realtor._id}' class="realtorRow">
                      <td class="name">${realtor.name}</td>
                      <td class="email">${realtor.local.email}</td>
                      <td class="phone">${realtor.phone}</td>
                      <td class="brokerage">${realtor.brokerageName}</td>
                      `);
      })

      $('#example1 tbody tr').click(function() {
        $('.hid2').click();
        console.log('update me');
        var id = $(this).attr('id');
        var name = $(this).children('td.name').text();
        var email = $(this).children('td.email').text();
        var phone = $(this).children('td.phone').text();
        
        var brokerages = $('select#brokerage').html();
        $('#updateName').val(name);
        $('#updateEmail').val(email);
        $('#updatePhone').val(phone);
        $('#updateLocation').val(location);
        $('#updatedBrokerage').html(brokerages);
        $('button.updateRealtor').attr('id', id);

      })
    })
  }
  $('.addRealtor').click(function() {
      var name = $('input#name').val();
      var email = $('input#email').val();
      var phone = $('input#phone').val();
      var password = $('select#pw').val();
      var brokerageId = $('select#brokerage').val();
      var brokerageName = $('select#brokerage option:selected').text();
        $.ajax({
            url: "/addRealtor",
            method: "POST",
            data: {
                group: 3,
                local: {
                    email,
                    password
                },
                name,
                phone,
                brokerageId,
                brokerageName
            },
            success: function(res) {
                console.log('respnse', res);
                getRealtors()
            }
        });
  })

getRealtors()
$('.updateRealtor').click(function() {
      var id = $(this).attr('id');
      var name = $('input#updateName').val();
      var email = $('input#updateEmail').val();
      var phone = $('input#updatePhone').val();
      var password = $('select#updatePw').val();
      var brokerageId = $('select#updatedBrokerage').val();
      var brokerageName = $('select#updatedBrokerage option:selected').text();
        $.ajax({
            url: "/updateRealtor/"+id,
            method: "POST",
            data: {
              local: {
                  email,
                  password
              },
              name,
              phone,
              brokerageId,
              brokerageName
            },
            success: function(res) {
              console.log('response', res);
              $('#modal-default > div > div > div.modal-header > button').click();
              getRealtors()
            }
        });
  })

  $('.deleteRealtor').click(function() {
      var id = $('.updateRealtor').attr('id');
      $.ajax({
            url: "/deleteRealtor/"+id,
            method: "DELETE",
            data: {},
            success: function(res) {
              console.log('response', res);
              $('#modal-default > div > div > div.modal-header > button').click();
              getRealtors()
            }
        });
    })
</script>
</body>
</html>


