<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>bare | realtor</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="dist/css/bootstrap-duration-picker.css">

  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
  <!-- Morris chart -->
  <link rel="stylesheet" href="bower_components/morris.js/morris.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="bower_components/jvectormap/jquery-jvectormap.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
        .assetTable td {
            padding: 10px;
            border-bottom: 1px dotted #cccccc;
            border-right: 1px dotted #cccccc;
        }
        input[type="file"] {
            display: none;
        }
        .custom-file-upload {
          border: 1px solid #ccc;
          display: inline-block;
          padding: 8px 12px;
          cursor: pointer;
      }
      .custom-file-upload:hover {
        background: #cccccc;
      }
      </style>
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

        <%- include partials/header.ejs %>
        <%- include partials/sidebar.ejs %>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Campaigns
        <small>Bare Realtor</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Campaigns</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
                  

    <div class="box box-solid" style="background:#3c8dbc;">
        <div class="box-header">
            <i class="fa fa-envelope" style="color: #fff;"></i>
            <h3 class="box-title" style="color: #fff;">My Campaigns</h3>
            <div class="pull-right box-tools">
            <button type="button" class="btn btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-sm" data-widget="remove"><i class="fa fa-times"></i>
            </button>
            </div>
        </div>
        <div class="box-body" style="background: #fff;" >
                view existing campaigns here
        </div>
        
    </div>
    <button type="button" class="btn btn-lg btn-warning createNew">Create a new Campaign
    </button>                                    
    <div class="createCampaign">

    </div>
</section>
                          
                       
</div>

<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- Sparkline -->
<script src="bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- Slimscroll -->
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<script src="bower_components/ckeditor/ckeditor.js"></script>

<script src="dist/js/bootstrap-duration-picker.js"></script>

<script>
        $(function () {
            var steps = [];
            var stepNumber = 1;
            $('.createNew').click(function() {
                $(this).hide();
                $('.createCampaign').html('')
                $('.createCampaign').append(`
                <h3 class="stepNumber">Step ${stepNumber}</h3>
                Please choose the next step:
                <div class="cTypes">
                    <button type="button" class="btn email">Email</button>    
                    <button type="button" class="btn sms">Text Message</button> 
                    <button type="button" class="btn delay">Delay</button>       
                </div>
                <div class="stepOne"></div>
                `)

                $('.email').click(function() {
                    $(this).parent('.cTypes').hide();
                    $('.stepOne').append(`
                    <h4>Email</h4>
                    <p>
                        <div class="form-group" style="margin-left: 1%;">
                                <label for="template">Template Name</label>
                                <input class="form-control" id="emailTemplateName" placeholder="Enter Name" type="text">
                                </div>
                                <div class="form-group" style="margin-left: 1%;">
                                    <label for="subject">Subject</label>
                                    <input class="form-control" id="emailSubject" placeholder="Enter Subject" type="text">
                                    </div>
                        <div class="box-body pad">
                                <form>
                                        <textarea id="editor1" name="editor1" rows="10" cols="80">
                                            Template goes here
                                        </textarea>
                                </form>
                                </div>
                                <button type="button" class="btn delay btn-info saveEmail">Save</button>
                    </p>`)
                    CKEDITOR.replace('editor1')


                    $('.saveEmail').click(function() {
                        stepNumber++;
                        var emailTemplateName = $('#emailTemplateName').val();
                        var emailSubject = $('#emailSubject');
                        var emailContent = CKEDITOR.instances.editor1.getData();
                        steps.push({emailTemplateName, emailSubject, emailContent});
                        console.log(steps);
                        $('.stepOne').html('');
                        $('.cTypes').show();
                        $(".stepNumber").html(`Step ${stepNumber}`);
                        $('.createCampaign').prepend(`<strong>Step ${stepNumber-1}</strong> EMAIL`);
                        // $.ajax({
                        //     url: '/addTemplate',
                        //     type: 'POST',
                        //     data: {name, subject, content, owner: 'ew6980'},
                        //     success: function() {
                        //         console.log('success')
                        //         $('button.close').click();
                        //         location.reload();
                        //     }
                        // })
                    })
                })
                $('.sms').click(function() {
                    $(this).parent('.cTypes').hide();
                    $('.stepOne').append(`
                    <h4>SMS</h4>
                    <p>
                                      
                                      <div class="form-group" style="margin-left: 1%;">
                                              <label for="template">SMSTemplate Name</label>
                                              <input class="form-control" id="template" placeholder="Enter Name" type="text">
                                              </div>
                                      <div class="box-body pad">
                                              <form>
                                                      <textarea id="sms2" name="sms2" rows="10" cols="80">
                                                          Text message...
                                                      </textarea>
                                              </form>
                                              </div>
                                  </p>`)
                })
                $('.delay').click(function() {
                    $(this).parent('.cTypes').hide();
                    $('.stepOne').append(`
                    <h4>Delay</h4>
                    <input type="text" class="form-control" id="duration">`)
                    $('#duration').durationPicker();

                })
                
            })
         });
 </script>
</body>
</html>
