<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>bare | realtor</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="dist/css/bootstrap-duration-picker.css">

  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
  <!-- Morris chart -->
  <link rel="stylesheet" href="bower_components/morris.js/morris.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="bower_components/jvectormap/jquery-jvectormap.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
        .assetTable td {
            padding: 10px;
            border-bottom: 1px dotted #cccccc;
            border-right: 1px dotted #cccccc;
        }
        input[type="file"] {
            display: none;
        }
        .custom-file-upload {
          border: 1px solid #ccc;
          display: inline-block;
          padding: 8px 12px;
          cursor: pointer;
      }
      .custom-file-upload:hover {
        background: #cccccc;
      }
      </style>
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

        <%- include partials/header.ejs %>
        <%- include partials/sidebar.ejs %>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Campaigns
        <small>Bare Realtor</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Campaigns</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
                  

    <div class="box box-solid" style="background:#3c8dbc;">
        <div class="box-header">
            <i class="fa fa-envelope" style="color: #fff;"></i>
            <h3 class="box-title" style="color: #fff;">My Campaigns</h3>
            <div class="pull-right box-tools">
            <button type="button" class="btn btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-sm" data-widget="remove"><i class="fa fa-times"></i>
            </button>
            </div>
        </div>
        <div class="box-body" style="background: #fff;" >
            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                <thead>
                <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 182.467px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                    Name</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 225.017px;" aria-label="Browser: activate to sort column ascending">
                        Steps</th><th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 198.733px;" aria-label="Platform(s): activate to sort column ascending">
                            Date Added</th></tr>
                </thead>
                <tbody>
                
                        </tbody>
                
              </table>
        </div>
        
    </div>
    <button type="button" class="btn btn-lg btn-warning createNew">Create a new Campaign
    </button>   
    <div class="stepDisplay"></div>                                 
    <div class="createCampaign">
        
    </div>
    <div class="campaignControls">
        
        
    </div>
</section>
                          
                       
</div>

<div class="modal fade" id="editCampaign">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background:#eeeeee; border-bottom:1px solid #cccccc;">
            
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="font-size:150%">&times;</span></button>
          <h3 class="modal-title modifyGroup">Edit Campaign</h3>
        </div>
        <div class="modal-body">
          <p>
<div class="row">       
<div class="form-group col-md-12">
<label for="name">name</label>
<input class="form-control" id="campName" placeholder="Campaign Name" type="text">
</div>
</div> 
<button class="button deleteGroup"><i class="fa fa-trash"></i> delete campaign</button>

<br/><br/>
<button class="button btn btn-info addProspects"><i class="fa fa-users"></i> Add prospects to campaign</button>
<table>
    <tbody class="prospectList">

    </tbody>
</table>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary updateGroup">Save changes</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
<button type="button" class="btn editCampaign" data-target="#editCampaign" data-toggle="modal" style="display:none;"> </button>

<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- Sparkline -->
<script src="bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- Slimscroll -->
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<script src="bower_components/ckeditor/ckeditor.js"></script>

<script src="dist/js/bootstrap-duration-picker.js"></script>

<script>
        $(function () {

$.getJSON("/myCampaigns", (data) =>{
    data.forEach((campaign) => {
        var steps = [];
        (campaign.steps).forEach((step) => {
            steps.push(step.type)
        })
        $('#example1 tbody').append(`<tr role="row" id="${campaign._id}">
                            <td class="sorting_1 name">${campaign.name}</td>
                            <td class="type">${(steps)}</td>
                            <td class="subject">${campaign.createdAt}</td>                
                            </tr>
        `)

    });

    $('#example1').DataTable();
    $('#example1 tbody tr').click(function() {
            var campaignId = $(this).attr('id')
                        var name = $(this).children('td.name').text();
                        $('#campName').val(name);
                        $('.editCampaign').click();
                 

        $('.addProspects').click(function() {
            console.log('get prospects')
            $.getJSON("/myProspects", (data) =>{
                console.log(data);
                    data.forEach((user) => {
                        $('.prospectList').append(`<tr class="prospectRow" id="${user._id}">
                        <td class="sorting_1 name">${user.firstName}</td>
                        <td class="last">${user.lastName}</td>
                        <td class="email">${user.email}</td>
                        <td class="companyName">${user.companyName}</td>   
                        <td class="phone">${user.phone}</td>  </tr>
                                            `)
                    })

                    $('.prospectRow').click(function() {
                        var userId = $(this).attr('id');
                        console.log('campaignId', campaignId)
                        window.location = "/kickoff/"+userId+"/"+campaignId;
                    })
                });
        })

           })
});

            var firststep = '';
            var steps = [];
            var stepNumber = 1;
            var actionType = `
                <h3 class="stepNumber">Step ${stepNumber}</h3>
                Please choose the next step:
                <div class="cTypes">
                    <button type="button" class="btn email">Email</button>    
                    <button type="button" class="btn sms">Text Message</button> 
                    <button type="button" class="btn delay">Delay</button>       
                </div>
                <div class="step"></div>
                `;
            var emailContentTemplate = `
                    <h4>Email</h4>
                    <p>
                        <div class="form-group" style="margin-left: 1%;">
                                <label for="template">Template Name</label>
                                <input class="form-control" id="emailTemplateName" placeholder="Enter Name" type="text">
                                </div>

                                <div class="form-group" style="margin-left: 1%;">
                                    <label for="subject">Subject</label>
                                    <input class="form-control" id="emailSubject" placeholder="Enter Subject" type="text">
                                    </div>
                        <div class="box-body pad">
                                <form>
                                        <textarea id="editor1" name="editor1" rows="10" cols="80">
                                            Template goes here
                                        </textarea>
                                </form>
                                </div>
                                <button type="button" class="btn delay btn-info saveEmail">Save</button>
                    </p>`;
            $('.createNew').click(function() {
                $(this).hide();
                $('.createCampaign').html('')
                $('.createCampaign').append(`<div class="form-group campName" style="margin-left: 1%;">
                                    <label for="campaignName">Campaign Name</label>
                                    <input class="form-control" id="campaignName" placeholder="Enter Campaign Name" type="text">
                                    <button type="button" class="btn delay btn-info saveName">Save</button></div>
                                    `);
                $('.saveName').click(function() {
                        $('.stepDisplay').append(`<br/><strong>Campaign Name: </strong><span class="campaignNameTitle">${$('#campaignName').val()}</span>`);
                        $('.campaignControls').html('<br/><button type="button" class="btn delay btn-info btn-large saveCampaign">Save Campaign</button>')
                        $('.campName').hide();
                        
                        $('.createCampaign').append(actionType)
                        $('.email').click(function() {
                            $('.saveCampaign').hide();
                            $(this).parent('.cTypes').hide();
                            $('.step').append(emailContentTemplate)
                            CKEDITOR.replace('editor1')
                            $('.saveEmail').click(function() {
                                stepNumber++;
                                var emailTemplateName = $('#emailTemplateName').val();
                                var emailSubject = $('#emailSubject').val();
                                var emailContent = CKEDITOR.instances.editor1.getData();

                                if (stepNumber === 2) {
                                     firststep = true;
                                } else {
                                     firststep = false
                                }


                                steps.push({type: 'email', data: {emailTemplateName, emailSubject, emailContent}, firststep});
                                $('.step').html('');
                                $('.cTypes').show();
                                $(".stepNumber").html(`Step ${stepNumber}`);
                                $('.stepDisplay').append(`<br/><strong>Step ${stepNumber-1}</strong> EMAIL`);
                                
                                $('.saveCampaign').show();
                            })
                        })
                        $('.sms').click(function() {
                            $(this).parent('.cTypes').hide();
                            $('.stepOne').append(`
                            <h4>SMS</h4>
                            <p>
                                            <div class="form-group" style="margin-left: 1%;">
                                                    <label for="template">SMSTemplate Name</label>
                                                    <input class="form-control" id="template" placeholder="Enter Name" type="text">
                                                    </div>
                                            <div class="box-body pad">
                                                    <form>
                                                            <textarea id="sms2" name="sms2" rows="10" cols="80">
                                                                Text message...
                                                            </textarea>
                                                    </form>
                                                    </div>
                                        </p>`)
                        })


                        $('.delay').click(function() {
                            $('.saveCampaign').hide();
                            var seconds = '';
                            $(this).parent('.cTypes').hide();
                            
                            $('.step').append(`
                            <h4>Delay</h4>
                            <input type="text" class="form-control" id="duration">
                            <button type="button" class="btn delay btn-info saveDelay">Save</button>`)
                            $('#duration').durationPicker({
                                onChanged: function (value, isInitializing) {
                                    seconds = value
                                }});
                            $('.saveDelay').click(function() {
                                stepNumber++;
                                if (stepNumber === 2) {
                                     firststep = true;
                                } else {
                                     firststep = false
                                }

                                steps.push({type: 'delay', data : {delay: seconds}, firststep});
                                $('.step').html('');
                                $('.cTypes').show();
                                $(".stepNumber").html(`Step ${stepNumber}`);
                                $('.stepDisplay').append(`<br/><strong>Step ${stepNumber-1}</strong> DELAY`);
                                $('.saveCampaign').show();

                            })
                        });



                        $('.campaignControls .saveCampaign').click(function() {
                            $('.step').html('');
                            if (steps.length < 1) {
                                alert('no steps')
                            } else {
                                
                                var campaignObj = {
                                    name: $('.campaignNameTitle').text(),
                                    steps
                                }
                                $.ajax({
                                    url: '/addCampaign',
                                    type: 'POST',
                                    data: campaignObj,
                                    success: function() {
                                        console.log('success')
                                        $('.saveCampaign').show();
                                        location.reload();
                                    }
                                })
                            }
                        })

                })
            }) 

         });
         
 </script>
</body>
</html>
