
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<<<<<<< HEAD
  <title>Small Factory | Portal</title>
  
=======
  <title>Bare Scheduling App | Portal</title>
  <!-- Tell the browser to be responsive to screen width -->
>>>>>>> parent of ef5b596... cleanup and adding to scheduling
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/dist/css/index.css">
  <!-- jQuery 3 -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand" style="padding: 0;"><span style="line-height:3;">Small Factory</span></a>
         
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav" style="margin-left:10px;">
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="#">About</a></li>
           
          </ul>
          
        </div>
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
            </div>
          </form>
        </div>
        <!-- /.navbar-custom-menu -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>
  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Small Factory Portal
          <small>v3.1.0</small>
        </h1>
        
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="callout callout-info">
          <h4>Announcement</h4>

          <p>Some information about the product...</p>
        </div>
        <div class="box box-default">
          
         
    <p>
        <form action="/login" method="post" style="padding: 20px;">
          <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" name="email">
          </div>
          <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password">
          </div>
  
          <button type="submit" class="btn btn-info btn-lg">Login</button>
      </form>
        <!-- <a href="/login"><button class="btn btn-block btn-primary btn-lg"> Login</button></a></p> -->
    </p>
        <!-- /.box -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
      </div>
      <strong>Small Factory</strong>
    </div>
    <!-- /.container -->
  </footer>
</div>
    </div></div>
        