<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Client Communication Center</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
  <!-- Morris chart -->
  <link rel="stylesheet" href="bower_components/morris.js/morris.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="bower_components/jvectormap/jquery-jvectormap.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
        .assetTable td {
            padding: 10px;
            border-bottom: 1px dotted #cccccc;
            border-right: 1px dotted #cccccc;
        }
        input[type="file"] {
            display: none;
        }
        .custom-file-upload {
          border: 1px solid #ccc;
          display: inline-block;
          padding: 8px 12px;
          cursor: pointer;
      }
      .custom-file-upload:hover {
        background: #cccccc;
      }
      </style>
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>C</b>CC</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg" style="font-size:70%"><b>Client Communication</b>Center</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 alerts</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Campaign A
                        <small class="pull-right">20%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Read</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Campaign B
                        <small class="pull-right">40%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">40% Read</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Campaign C
                        <small class="pull-right">60%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">60% Read</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Campaign D
                        <small class="pull-right">80%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">80% Read</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="ew.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">Eric Whitehead</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="ew.jpg" class="img-circle" alt="User Image">

                <p>
                  Eric Whitehead - CBUS Developer
                  <small>Member since Aug. 2018</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/profile" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="ew.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Eric Whitehead</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
          <li class="header">NAVIGATION</li>
          <li style="padding:6px 0;border-bottom: 1px solid #999999; font-size: 120%;" ><a href="/"><i class="fa fa-dashboard" ></i> <span>Dashboard</span></a></li>
          
          <li style="padding:6px 0;border-bottom: 1px solid #999999; font-size: 120%;"><a href="/template"><i class="fa fa-files-o" ></i> <span>Templates</span></a></li>
          <li style="padding:6px 0;border-bottom: 1px solid #999999;font-size: 120%;"><a href="/users"><i class="fa fa-user"></i> <span>User/Groups</span></a></li>
          <li style="padding:6px 0;border-bottom: 1px solid #999999;font-size: 120%;"><a href="/campaigns"><i class="fa fa-envelope"></i> <span>Campaigns</span></a></li>
          <li style="padding:6px 0;border-bottom: 1px solid #999999;font-size: 120%;"><a href="/activity"><i class="fa fa-address-book"></i> <span>Activity Summary</span></a></li>
          <li style="padding:6px 0;border-bottom: 1px solid #999999;font-size: 120%;" class="active"><a href="/assets"><i class="fa fa-gear"></i> <span>Assets</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        My Profile
        <small>Customer Communication Center</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Profile</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
            <div class="row">
                    <div class="col-md-3">
            
                      <!-- Profile Image -->
                      <div class="box box-primary">
                        <div class="box-body box-profile">
                          <img class="profile-user-img img-responsive img-circle" src="ew.jpg" alt="User profile picture">
            
                          <h3 class="profile-username text-center">Eric Whitehead</h3>
            
                          <p class="text-muted text-center">Applications Developer</p>
            
                          <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                              <b>Users</b> <a class="pull-right">1,322</a>
                            </li>
                            <li class="list-group-item">
                              <b>Campaigns</b> <a class="pull-right">543</a>
                            </li>
                            <li class="list-group-item">
                              <b>Notifications Sent</b> <a class="pull-right">13,287</a>
                            </li>
                          </ul>
                        </div>
                        <!-- /.box-body -->
                      </div>
                      <!-- /.box -->
            
                      <!-- About Me Box -->
                      <div class="box box-primary">
                        <div class="box-header with-border">
                          <h3 class="box-title">Another Section?</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                         ...
                        </div>
                        <!-- /.box-body -->
                      </div>
                      <!-- /.box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                      <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">Information</a></li>
                          <li class=""><a href="#timeline" data-toggle="tab" aria-expanded="false">Timeline</a></li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane active" id="activity">
                                <table class="main_tbl" valign="top" cellspacing="0" cellpadding="0" width="100%" border="1" align="center">
                                        <tbody><tr>
                                        <td valign="top" width="50%" align="left">
                                        <table class="incl_tbl" cellspacing="0" cellpadding="0" width="100%" border="1">
                                        <tbody><tr height="18"><td class="tl" colspan="2" align="center"><nobr>PERSONAL DATA</nobr></td></tr>
                                        <tr height="18"><td class="nm" width="30%">Last Name</td><td class="vl">WHITEHEAD </td></tr>
                                        <tr height="18"><td class="nm" width="30%">First Name</td><td class="vl">ERIC</td></tr>
                                        <tr height="18">
                                        <td class="nm">ATTUID</td><td class="vl">ew6980<input id="atta1" value="ew6980" type="hidden">
                                        </td>
                                        </tr>
                                        <tr height="18"><td class="nm">Job Title</td><td class="vl"><a title="WHITEHEAD ERIC's Organizational Listing" href="/cgi-bin/orglist.pl?id=ew6980&amp;org=&amp;level=2&amp;output=html">SYSTEMS ENGINEER</a></td></tr>
                                        <tr height="18"><td class="nm" width="30%">Consulting Company</td><td class="vl">UNIXPROS LLC.</td></tr>
                                        <tr height="18"><td class="nm" width="30%">E-Mail Address</td><td class="vl"><a href="mailto:ew6980@us.att.com">ew6980@us.att.com</a></td></tr>
                                        <tr height="18"><td class="nm" width="30%">E-Mail Address  Alias</td><td class="vl"><a href="mailto:<a">ericpwhitehead@att.com</a></td></tr>
                                        <tr height="18"><td class="nm" width="30%">Primary Email Address</td><td class="vl"><a href="mailto:EW6980@att.com">EW6980@att.com</a></td></tr>
                                        <tr height="18"><td class="nm" width="30%">Q Presence</td>
                                        <td class="vl">
                                        <nobr>
                                        &nbsp;<a href="qto://talk/ew6980"><img id="q" alt="Q - Messenger for ERIC WHITEHEAD: Offline/Unavailable. Click to Chat" src="http://zlpv7599.vci.att.com/webmedia/webpresence/BulbUnlit.gif" width="16" border="0" align="absbottom"></a>
                                        <span id="q_m">Unavailable</span>
                                        <span id="q_c">
                                        </span>
                                        </nobr>
                                        </td></tr>
                                        <tr height="18"><td class="nm" width="30%">tSpace</td>
                                        <td class="vl">
                                        <nobr>
                                        &nbsp;<a href="http://tspace.web.att.com/profiles/html/profileView.do?uid=ew6980&amp;lang=en_us" target="_blank">Learn More About ERIC</a>
                                        </nobr>
                                        </td></tr>
                                        <tr height="18"><td class="nm">Phone</td><td class="vl">
                                        &nbsp;
                                        </td>
                                        </tr><tr height="18"><td class="nm">Cell Phone</td><td class="vl">
                                        &nbsp;
                                        </td>
                                        </tr><tr height="18"><td class="nm">Pager</td><td class="vl">
                                        &nbsp;
                                        </td>
                                        </tr><tr height="18"><td class="nm" width="30%">FAX</td><td class="vl">&nbsp;</td></tr>
                                        </tbody></table>
                                        </td>
                                        <td valign="top" width="50%" align="left">
                                        <table class="incl_table" cellspacing="0" cellpadding="0" width="100%" border="1">
                                        <tbody><tr height="18"><td class="tl" colspan="2" align="center"><nobr>LOCATION DATA</nobr></td></tr>
                                        <tr height="18"><td class="nm" width="30%">Street</td><td class="vl">200 S LAUREL AVE - BLDG A</td></tr>
                                        <tr height="18"><td class="nm" width="30%">Room</td><td class="vl">NA</td></tr>
                                        <tr height="18"><td class="nm" width="30%">City</td><td class="vl">MIDDLETOWN</td></tr>
                                        <tr height="18"><td class="nm" width="30%">State</td><td class="vl">NJ</td></tr>
                                        <tr height="18"><td class="nm" width="30%">ZIP</td><td class="vl">07748</td></tr>
                                        <tr height="18"><td class="nm" width="30%">Country</td><td class="vl">USA</td></tr>
                                        <tr height="18"><td class="nm" width="30%">Geographic Location Code</td><td class="vl">&nbsp;</td></tr>
                                        <tr height="18"><td class="nm" width="30%">Architectural Object ID</td><td class="vl">&nbsp;</td></tr>
                                        <tr height="18"><td class="nm" width="30%">Occupancy Indicator</td><td class="vl">FTO</td></tr>
                                        <tr height="18"><td class="nm">CLLI</td><td class="vl"><a title="" href="/cgi-bin/loc.pl?loc=MDTWNJ21">MDTWNJ21</a></td></tr>
                                        </tbody></table>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td valign="top" width="50%" align="left">
                                        <table class="incl_tbl" cellspacing="0" cellpadding="0" width="100%" border="1">
                                        <tbody><tr height="18"><td class="tl" colspan="2" align="center"><nobr>ADMIN DATA</nobr></td></tr>
                                        <tr height="18"><td class="nm">Responsible Manager</td><td class="vl"><a href="/cgi-bin/webphones.pl?id=sl3561">SHEREE J LAN</a></td></tr>
                                        <tr height="18"><td class="nm" width="30%">Supervisor ATTUID</td><td class="vl">sl3561</td></tr>
                                        <tr height="18"><td class="tl" colspan="2" align="center"><nobr>OTHER USER IDs</nobr></td></tr>
                                        <tr height="18"><td class="nm" width="30%">AT&amp;T HRID</td><td class="vl">8540358</td></tr>
                                        <tr height="18"><td class="nm" width="30%">BellSouth UID</td><td class="vl">H22WN83</td></tr>
                                        <tr height="18"><td class="nm" width="30%">Cingular CUID</td><td class="vl">ew6980</td></tr>
                                        <tr height="18"><td class="nm" width="30%">Payroll ID</td><td class="vl">&nbsp;</td></tr>
                                        </tbody></table>
                                        </td>
                                        <td valign="top" width="50%" align="left">
                                        <table class="incl_table" cellspacing="0" cellpadding="0" width="100%" border="1">
                                        <tbody><tr height="18"><td class="tl" colspan="2" align="center"><nobr>CORPORATE DATA</nobr></td></tr>
                                        <tr height="18"><td class="nm" width="30%">Business Unit</td><td class="vl">&nbsp;</td></tr>
                                        <tr height="18"><td class="nm" width="30%">Business Unit ID</td><td class="vl">&nbsp;</td></tr>
                                        <tr height="18"><td class="nm" width="30%">Department</td><td class="vl">AUTOMATION PLATFORMS DEVELOPMENT</td></tr>
                                        <tr height="18"><td class="nm" width="30%">Department ID</td><td class="vl">&nbsp;</td></tr>
                                        <tr height="18"><td class="nm" width="30%">Silo Status</td><td class="vl">NO</td></tr>
                                        <tr height="18"><td class="nm" width="30%">Cost Center</td><td class="vl">EY18D6100</td></tr>
                                        <tr height="18"><td class="nm" width="30%">Sponsor Company</td><td class="vl">AT&amp;T Services, Inc.</td></tr>
                                        <tr height="18"><td class="nm" width="30%">Financial Loc Code</td><td class="vl">NJC240</td></tr>
                                        <tr height="18"><td class="nm" width="30%">HR Building Loc</td><td class="vl">MDTWNJ21</td></tr>
                                        </tbody></table>
                                        </td>
                                        </tr>
                                        </tbody></table>
                          </div>
                          <!-- /.tab-pane -->
                          <div class="tab-pane" id="timeline">
                            <!-- The timeline -->
                            <ul class="timeline timeline-inverse">
                              <!-- timeline time label -->
                              <li class="time-label">
                                    <span class="bg-red">
                                      10 Feb. 2014
                                    </span>
                              </li>
                              <!-- /.timeline-label -->
                              <!-- timeline item -->
                              <li>
                                <i class="fa fa-envelope bg-blue"></i>
            
                                <div class="timeline-item">
                                  <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
            
                                  <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
            
                                  <div class="timeline-body">
                                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                    weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                    jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                    quora plaxo ideeli hulu weebly balihoo...
                                  </div>
                                  <div class="timeline-footer">
                                    <a class="btn btn-primary btn-xs">Read more</a>
                                    <a class="btn btn-danger btn-xs">Delete</a>
                                  </div>
                                </div>
                              </li>
                              <!-- END timeline item -->
                              <!-- timeline item -->
                              <li>
                                <i class="fa fa-user bg-aqua"></i>
            
                                <div class="timeline-item">
                                  <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
            
                                  <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request
                                  </h3>
                                </div>
                              </li>
                              <!-- END timeline item -->
                              <!-- timeline item -->
                              <li>
                                <i class="fa fa-comments bg-yellow"></i>
            
                                <div class="timeline-item">
                                  <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
            
                                  <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
            
                                  <div class="timeline-body">
                                    Take me to your leader!
                                    Switzerland is small and neutral!
                                    We are more like Germany, ambitious and misunderstood!
                                  </div>
                                  <div class="timeline-footer">
                                    <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                  </div>
                                </div>
                              </li>
                              <!-- END timeline item -->
                              <!-- timeline time label -->
                              <li class="time-label">
                                    <span class="bg-green">
                                      3 Jan. 2014
                                    </span>
                              </li>
                              <!-- /.timeline-label -->
                              <!-- timeline item -->
                              <li>
                                <i class="fa fa-camera bg-purple"></i>
            
                                <div class="timeline-item">
                                  <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
            
                                  <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
            
                                  <div class="timeline-body">
                                    <img src="http://placehold.it/150x100" alt="..." class="margin">
                                    <img src="http://placehold.it/150x100" alt="..." class="margin">
                                    <img src="http://placehold.it/150x100" alt="..." class="margin">
                                    <img src="http://placehold.it/150x100" alt="..." class="margin">
                                  </div>
                                </div>
                              </li>
                              <!-- END timeline item -->
                              <li>
                                <i class="fa fa-clock-o bg-gray"></i>
                              </li>
                            </ul>
                          </div>
                          <!-- /.tab-pane -->
            
                          <div class="tab-pane" id="settings">
                            <form class="form-horizontal">
                              <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name</label>
            
                                <div class="col-sm-10">
                                  <input class="form-control" id="inputName" placeholder="Name" type="email">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            
                                <div class="col-sm-10">
                                  <input class="form-control" id="inputEmail" placeholder="Email" type="email">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name</label>
            
                                <div class="col-sm-10">
                                  <input class="form-control" id="inputName" placeholder="Name" type="text">
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="inputExperience" class="col-sm-2 control-label">Experience</label>
            
                                <div class="col-sm-10">
                                  <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="inputSkills" class="col-sm-2 control-label">Skills</label>
            
                                <div class="col-sm-10">
                                  <input class="form-control" id="inputSkills" placeholder="Skills" type="text">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                  <button type="submit" class="btn btn-danger">Submit</button>
                                </div>
                              </div>
                            </form>
                          </div>
                          <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                      </div>
                      <!-- /.nav-tabs-custom -->
                    </div>
                    <!-- /.col -->
                  </div>
    </section>
</div>

<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- Sparkline -->
<script src="bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- Slimscroll -->
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<!-- Bootstrap WYSIHTML5 -->

<script>
        $(function () {
            
         });
 </script>
</body>
</html>
